
<html>
<head>
    <title>Universidad El Camino</title>
</head>
<h1 align="center">UNIVERSIDAD EL CAMINO</h1>
<body>
    <br>
    <div style="text-align: center;">
        <img src="~/fonts/IMAGENES/u21.jpg" width="1000" height="200">
    </div>
    <br>
    <div style="text-align: center;">
        <img src="~/fonts/IMAGENES/u100.jpg" style="max-width:90%;width:auto;height:auto;">
    </div>
</body>
</html>
